@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 70%;
}

:root {
    --patrick: #ffbf49;
    --white: #ffffff;
    --black: #000000;
}

header {
    grid-column: 1/1;
    height: 100%;
    border-right: solid 3px var(--patrick);
    display: flex;
    flex-direction: column;
}

.profile {
    padding: 1rem;
    display: flex;
    align-items: center ;
    gap: 1rem;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile small {
    display: block;
}

.menu-profile {
    padding-top: 1rem;
    border-top: solid 3px var(--patrick);
}

.menu-profile li {
    padding: .5rem 1rem;
    transition: all .3;
    color: var(--patrick);
}

.menu-profile li:hover {
    background-color: var(--patrick);
}

.menu-profile li:hover a {
    color: var(--white);
}

.menu-profile li a {
    color: var(--patrick);
    font-weight: bold;
}

#logout {
    width: fit-content;
    margin: auto auto 1rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: large;
}